# Kconfig - Atmel SAM SPI
#
# Copyright (c) 2018 Justin Watson
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_SAM
	bool "Atmel SAM series SPI driver"
	depends on SOC_FAMILY_SAM
	select HAS_DTS_SPI
	default n
	help
	  Enable support for the SAM SPI driver.
